.weatherChart{
    background-color: rgb(96, 165, 245);
    display: block;
    justify-content: center;
    width: 400px;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(15, 15, 15, 0.22);
    margin-bottom: 35px;
}

.weatherChart h1{
    margin-bottom: 35px;
    color: white;
}